*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.offscreen {
    position: relative;
    left: -10000px;
}

a {
    text-decoration: none;
    color: var(--HIGHLIGHT-COLOR);
}