@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Montserrat", sans-serif;
    --FF-HEADING: "Fraunces", cursive;
    --FS: 0.875rem;
    --FW: 700;

    /* COLORS */
    --BGCOLOR-FACE: hsl(30, 38%, 92%);
    --BGCOLOR: hsl(0, 0%, 100%);
    --BUTTON-COLOR: hsl(158, 36%, 37%);
    --FONT-COLOR: hsl(228, 12%, 48%);
    --HIGHLIGHT-COLOR: hsl(212, 21%, 14%);
}

html {
    font-family: var(--FF);
    font-weight: 500;
}

body {
    max-width: 100%;
    height: 100vh;
    background-color: var(--BGCOLOR-FACE);
    color: var(--FONT-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}

span,
p {
    font-size: var(--FS);
}

/* || MAIN */
.main {
    background-color: var(--BGCOLOR);
    display: flex;
    flex-flow: row nowrap;
    width: 600px;
    height: 450px;
    border-radius: 8px;
}

/* || HERO IMAGE */

.hero img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
}

/* || LEFT */

.left {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 25px;
}

.left__top {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.left__h1,
.letra-g {
    color: var(--HIGHLIGHT-COLOR);
    font-family: var(--FF-HEADING);
    font-size: 2em;
    font-weight: var(--FW);
    line-height: 1;
}

.left__p {
    line-height: 1.6;
}

.left__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.letra-g {
    color: var(--BUTTON-COLOR);
}

.btn {
    background-color: var(--BUTTON-COLOR);
    color: var(--BGCOLOR);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: hsl(151, 41%, 18%);
}

.btn__p {
    font-weight: var(--FW);
}