@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Montserrat", sans-serif;
    --FF-HEADING: "Fraunces", cursive;
    --FS: clamp(1rem, 2vh, 1.5rem);

    /* COLORS */
    --BGCOLOR-FACE: hsl(30, 38%, 92%);
    --BGCOLOR: hsl(0, 0%, 100%);
    --BUTTON-COLOR: hsl(158, 36%, 37%);
    --FONT-COLOR: hsl(228, 12%, 48%);
    --HIGHLIGHT-COLOR: hsl(212, 21%, 14%);
}

body {
    max-width: 100%;
    background-color: var(--BGCOLOR-FACE);
    font-size: var(--FS);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    background-color: var(--BGCOLOR);
    width: 600px;
    height: 450px;
    border-radius: 15px;
}

.imagem {
    display: flex;
    height: 100%;
    border-radius: 15px;
}

.imagem img {
    width: 300px;
    height: 100%;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 85%;
    gap: 5px;
}

.cabecalho span {
    font-family: var(--FF);
    font-size: 17px;
    text-transform: uppercase;
    color: var(--FONT-COLOR);
}

.left h1 {
    font-family: var(--FF-HEADING);
    color: var(--HIGHLIGHT-COLOR);
    font-size: 35px;
}

.left p {
    font-family: var(--FF);
    font-size: 17px;
    line-height: 1.5;
    color: var(--FONT-COLOR);
}

div {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.left .letra-g {
    font-family: var(--FF-HEADING);
    font-size: 35px;
    font-weight: 700;
    color: var(--BUTTON-COLOR);
}

.left .letra-p {
    font-family: var(--FF);
    font-size: 14px;
    color: var(--FONT-COLOR);
}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: var(--FF);
    font-size: 1rem;
    background-color: var(--BUTTON-COLOR);
    color: var(--BGCOLOR);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(151, 41%, 18%);
}